.events-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 25px 100px 25px;
  position: relative;
  width: 100%;
  max-width: 500px;

  @media (width > 1200px) {
    max-width: 1024px;
  }

  &__header {
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    padding: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,25%);
    background-color: #ffffff;
  }

  &__title {
    text-align: right;
    font-size: 19px;
    color: #565f76;
  }

  &__events {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 100%;
  }

  &__months {
    margin-top: 15px;
    text-align: center;
    font-weight: 500;
  }

  &__filter {
    align-self: flex-start;
    font-size: 16px;
    margin-bottom: 15px;
  }
}