@import "variables.scss";
@import "App";
@import "pages/authorization-page/authorization-page.scss";
@import "components/auth-form/auth-form.scss";
@import "components/bottom-menu/bottom-menu.scss";
@import "pages/notification-page/notification-page";
@import "components/notification/notification";
@import "pages/employees-page/employees-page";
@import "pages/events-main-page/events-main-page";
@import "components/event/event";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  color: #565f76;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  margin: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
