@import "variables.scss";
@import "App";
@import "pages/authorization-page/authorization-page.scss";
@import "components/auth-form/auth-form.scss";
@import "components/bottom-menu/bottom-menu.scss";
@import "pages/notification-page/notification-page";
@import "components/notification/notification";
@import "pages/employees-page/employees-page";
@import "pages/events-main-page/events-main-page";
@import "components/event/event";
@import "components/user-row/user-row";
@import "pages/create-event-page/create-event-page";

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
  color: #565f76;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

button {
  border: 1px dashed #565f76;
  background-color: transparent;
  padding: 0.6rem;
  color: #565f76;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: #565f76;
    color: #fff;
  }
}

img,
picture {
  display: block;
  max-width: 100%;
}

input, select, textarea {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565f76;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
  margin-bottom: 10px;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  margin: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
