.create-event-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 25px 15px 25px;
  position: relative;
  width: 100%;
  row-gap: 15px;

  &__title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: 500;
  }

  &__form {
    width: 100%;
    max-width: 500px;

    &>label {
      display: block;
      text-align: center;
      width: 100%;
      margin-bottom: 7px;
    }

    &>select {
      margin-bottom: 25px;
    }
  }
}