.user {
  min-height: 120px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px rgba(0,0,0,25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  row-gap:7px;
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;

  &__fio {
    font-weight: 600;
    font-size: 20px;
    width: 100%;

    &--changing {
      font-weight: 400;
      font-size: 16px;
    }
  }

  & div:nth-child(3) {
    margin-top: 10px;
  }

  &__buttons {
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    &>span {
      border: 0;
      background-color: transparent;
      color: #a6a6a6;

      &:hover {
        color: #4a4a4a;
      }
    }
  }
}